{{> nav/nav-block}}
<div class="container">
    <div class="jumbotron flex-grow-0 flex-shrink-1" style="text-align: center;">
      <div class="row">
        <section class="col-lg-12">
          <h1>Choose Your Workout</h1>
        </section>
      </div>
      
      <div class="row">
        <section class="col-lg-1"> 
        </section>
        
        <section class="col-lg-3"> 
          <label for="floatingSelectGrid">Muscle Group</label>
        </section>
        
        <section class="col-lg-3"> 
          <label for="floatingSelectGrid">Type of Workout</label>
        </section> 

        <section class="col-lg-3"> 
            <label for="floatingSelectGrid">Equipment</label>
        </section>  
      </div>

      <div class="row"> 

        <section class="col-lg-1"> 
        </section>

        <section class="col-lg-3"> 

          <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
              <option selected>All Selector</option>
              <option value="1">Arms</option>
              <option value="2">Core</option>
              <option value="3">Back</option>
              <option value="4">Full Body</option>
              <option value="5">Legs</option>
          </select>

        </section>  

        <section class="col-lg-3"> 
          <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected>All Type</option>
            <option value="1">Cardio</option>
            <option value="2">Weight</option>
            <option value="3">Laps</option>
            <option value="4">Machine</option>
            <option value="5">Plyo</option>
         </select>
        </section>

        <section class="col-lg-4"> 
        
          <label class = "checkbox-inline">
            <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Band
         </label>
         
         <label class = "checkbox-inline">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Bar
         </label>

         <label class = "checkbox-inline">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Dumbells
         </label>

         <label class = "checkbox-inline">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Bodyweight
         </label>

         <label class = "checkbox-inline">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Squat Rack
         </label>

         <label class = "checkbox-inline">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Platform
         </label> 

         <label class = "checkbox">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Cable
         </label> 

         <label class = "checkbox">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Landmine
         </label> 

         <label class = "checkbox">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Bosu Ball
         </label> 

          <label class = "checkbox">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Kettlebells
         </label> 

         <label class = "checkbox">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Machines
         </label> 

         <label class = "checkbox">
          <input type = "checkbox" name="sleepy" id = "inlineCheckbox1" value = "option1"> Medicine Ball
         </label> 
        </section>

      </div>   
    <button type="button" class="btn btn-light" style="float: right;">Search</button>   
  </div>
</div>

{{> workouts/details}}

<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>
