{{> nav/nav-block user=true register=false}}

<div class="container" id="showFavorites">
    <div class="jumbotron flex-grow-0 flex-shrink-1" style="text-align: center;">
      <div class="row">
        <section class="col-lg-12">
          <h2 style="margin-top: 20px;">Favorite Workouts</h2>
        </section>
      </div>
      <br>
  </div>
</div>

