.navbar{
  height: 110px;
}

.navbar-brand{
font-size: 25px;
border-bottom: 1px solid transparent;
}

.navbar-nav{
  background-color:#17a2b8;
}

.navbar-collapse{
  margin-left: 40%;
}

body {
  color: rgb(155, 155, 155);
  background-size: cover;
  height:100%;
}

h2, h3{
  color: rgb(88, 88, 88);
  text-align: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif'Chivo', sans-serif;
}

h3{
  font-size: 210%;
}

h2{
  font-size: 35px;
}

h5{
  padding-bottom: 7px;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  padding-top: 10px;
}

p{
  margin-top: 20px;
}

.random{
  text-align: left;
}

.jumbotron {
  background-color:rgb(245, 245, 245);
  height: 350px;
  width: 900px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding-top: 20px;
}

#exerciselist{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.exerciseList{
  border: 1px solid rgb(168, 168, 168);
  padding: 35px;
  margin-bottom: 20px;
  /* height: 450px; */
  border-radius: 1%;  
}

.save-to-favorites{
  border-radius: 4%;
  /* float: right; */
  margin: 10px;
  position:relative;
  text-align: center;
  display:inline-block;

}

.saveFav{
  border-radius: 5%;
  float:right;
  position: absolute;
  bottom: 10px;
  margin-left: 500px;
}

.exercise-example{
  float: right;
  height: 200px;
  width: 250px;
}

.logout{
  margin-top: 20px;
  margin-bottom: 0;
}

.modal {
  color: black;
}

.btn {
  color:white;
  background:#cadde1;
  border: 1px solid white;
}

label{
  color: rgb(102, 102, 102);
  text-align: center;
}

.form-select{
  color: rgb(102, 102, 102);
  text-align: center;
}

#search-exercises {
  margin-top: 140px;
  margin-bottom: 0;
}

#favorites{
  /* margin-left: 0; */
  font-size: 15;
  border-radius: 4%;
  position: absolute;
  bottom: 10px;
  
}

.previous{
  margin-left: 45%;
}

.next{
  width: 70px;
  text-align: center;
}

button{
  border-radius: 10%;
  box-shadow: none;
  text-shadow: none;
  border: none;
  font-size: 16px;
  padding: 6px;
  margin-left: 4px;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: rgb(0, 0, 0) !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  margin-top: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: rgb(245, 245, 245);
  height:50%;
  border-radius: .25rem;
  width: 1000px;
  padding-right: 1%;
  text-align: center;
  min-height: 100%;
  object-fit: fill;
  max-width: 100%;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

#list{
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

}
.lead {
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 30px;
  font-size: 260%;
}

#randompic{
  max-width:220px; 
  object-fit: fill;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #444;
  padding-top:0px;
}

.card-text {
  color: black;
}

#animationbody {
  background-color:#141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}

#handboy
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
    
}


#girllight
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl
{
    animation: swinghair ease-in-out 1.3s infinite alternate;
   transform-origin: 60% 0%;
    transform-box: fill-box;
  
}

#zero
{
  transform-origin:bottom;
  transform-box:fill-box;
  
}

@media only screen and (max-width: 1272px){
  .navbar-collapse{
    margin-left: 35%;
  }
}

@media only screen and (max-width: 1173px){
  .navbar-collapse{
    margin-left: 30%;
  }
}

@media only screen and (max-width: 1193px){
  .navbar-collapse{
    margin-left: 23%;
  }
}

@media only screen and (max-width: 992px){
  #favorites{
    margin-left: 30%
  }

  #exerciselist{
    margin-left: 10%;
    margin-right: 10%;
  }
  .previous{
    margin-left:35%;
  }
  .container {
    margin-top: 20%;
   
  }
  .navbar-collapse{
    margin-left: 0%;
    margin-right: 0px;
  }
  .nav-link{
    text-align: center;
  }
}

@media only screen and (max-width: 640px){
  #favorites{
    margin-left: 15%
  }
  .previous{
    margin-left:40%;
  }
  .navbar-collapse{
    margin-left: 0%;
    margin-right: 0px;
  }
  .nav-link{
    text-align: center;
  }
}

@media only screen and (max-width: 450px){
  #favorites{
    margin-left: 0px;
  }
  #randompic{
    max-width: 100px; 
    object-fit: fill;
  }
  #list{
    padding-left: 20px;

  }
  .previous{
    margin-left:25%;
  }

  .exercise-example{
    /* margin-left: 2%; */
    max-width: 200px;
  }
  .container {
    margin-top: 20%;
  
  }
  .navbar-collapse{
    margin-left: 0%;
    margin-right: 0px;
  }
  .nav-link{
    text-align: center;
  }
}

/*************swing************/
@keyframes swing {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}


/*************swing hair************/
@keyframes swinghair {
    0% { transform: rotate(6deg); }
    100% { transform: rotate(-6deg); }
}