<nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    <strong>Dumbbells</strong> for Dummies
  </a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">

    {{!-- <li class="nav-item">
      <a class="nav-link" href="/some-feature">Menu item here</a>
    </li> --}}

    {{#if isloggedin}}
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Search Workouts</a>
      </li>
      <li class="nav-item">

        <a class="nav-link" href="/favorites">My Favorites</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>

        <a class="nav-link" href="/favorites">Favorite Workouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="#" id="login-modal">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> modal/login-block}}
