<nav class="navbar navbar-expand-lg bg-info navbar-dark fixed-top">
  
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    <strong>Dumbbells</strong> for Dummies
  </a>
  
  <!-- Links -->

    {{#if isloggedin}}

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/create">Search Workouts</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/favorites">Favorite Workouts</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/settings">Settings</a>
            </li>
          </nav>
        </div>

    {{else}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="margin-left:300px;">
            <li class="nav-item active">
              <a class="nav-link" href="#" id="login-modal">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/register" data-register={{register}}>Register</a>
            </li>
          </ul>
      </div>
    {{/if}}
 
</nav>

{{> modal/login-block}}
